<h1>Create a Project</h1>
<form action="/create" method="POST">
  <input type="text" name="name" placeholder="Name" class="form-control">
  <textarea name="description" placeholder="Description" class="form-control"></textarea>
  
  <input type="text" name="target" placeholder="Target" class="form-control">
  <input type="date" name="end_date" placeholder="end date" class="form-control">
  <input type="submit" value="create">
  
</form>