<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://lawsondentistry.com/wp-content/uploads/blog/2013/11/Smiling-Man.jpg" alt="Image" width="1140px" height="300px">
      <div class="carousel-caption">
        <h1 style="color: black">Fickstarter is a crowdfunding website for anyone.</h1>
        <p style="color: black">Especially if Kickstarter rejected you.</p>
        <a href="/create" class="btn btn-primary btn-lg">Start a project!</a>
      </div>
    </div>
  </div>
</div>