<h1><%= h @project.name %></h1>
<p><%= h @project.description %></p>
<p>WE WANT $<%= h @project.target.to_s %></p>

<input type="text" name="donation" placeholder="donation" class="form-control">
<input type="submit" value="donate">